html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.navigator {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffcc00;
  padding: 16px;
}

.header__tittle {
  color: #084c61;
  margin-top: 0;
  padding: 16px;
}

.hello__tittle {
  color: #177e89;
}

.notes__tittle {
  color: #177e89;
}

.frontend__tittle {
  color: #177e89;
}

.article__tittle {
  color: #db3a34;
}

.article__list {
  list-style-type: decimal;
}
