body {
  background: #fefefe;
}

.tittle {
  color: #084c61;
}

.tittle-hello {
  color: #177e89;
}

.tittle-notes {
  color: #177e89;
}

.tittle-frontend {
  color: #177e89;
}

.tittle-paragraph {
  color: #db3a34;
}
